<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant|%>
    <li><%= restaurant.name %>
    <%= link_to 'See Details', restaurant %>
     <%= link_to 'Add a review', restaurant %>
    <% end %>
</ul>

   <%# <li><%= restaurant.address %></li>
    <%# <li><%= restaurant.phone_number %></li>
    <%# <li><%= restaurant.category %></li> 